@import url('https://fonts.googleapis.com/css?family=Quicksand');*{margin:0;padding:0;text-decoration:none;list-style:none;box-sizing:border-box}
body{height:100%;font-family:'Quicksand',sans-serif;background:#fff;margin:0;padding:0;font-weight:300}
#wrapper{position:relative;width:100%;min-height:100%;overflow-x:hidden}
h2{font-size:32px}
h1{text-decoration:underline;width:min-content;font-family:'Quicksand',sans-serif;color:#000;font-size:36px;letter-spacing:.05em;text-shadow:2px 2px 4px #e8e8e8}
a{color:#eee}
p{font-family:'Quicksand',sans-serif;color:#373d3f;font-weight:300}
nav{border-bottom:1px solid #f2f2f2;width:100%;background:#000;height:55px;z-index:1;top:0;opacity:1;font-size:18px;letter-spacing:2px}
nav .logo{position:static;float:left;margin:0;margin-top:0;margin-bottom:0;width:400px;height:100px}
nav .logo img{max-width:55%;height:auto;margin:3% 10%;display:inline-block}
nav #menu{float:right;right:4%;position:relative;max-width:100%;max-height:100%}
nav #menu li{display:inline-block;padding:0 15px;cursor:pointer;line-height:55px;position:relative;transition:all .3s ease-out}
nav #menu li a:hover{color:#7280ce}
nav.gray #menu li a:hover{color:#3f51b5}
nav #menu li a{font-family:'Quicksand',sans-serif;font-weight:500;position:relative;font-size:15px;text-transform:uppercase;color:#3f51b5}
nav #menu li a.active-page{border:2px solid #3f51b5;border-radius:10px;transition:all .3s ease-out;padding:5px}
#resize{background:#fff;margin:0;height:100%;z-index:1;top:0;position:absolute;width:100%;height:100%;visibility:hidden;opacity:0;transition:all .5s ease-out;display:table;opacity:.2}
#resize #menu{padding-top:4%;padding-bottom:4%;height:100%}
#resize #menu li{display:block;text-align:center;min-height:10px;height:20%;cursor:hand;background:#fff;position:static;text-transform:uppercase}
#resize li:nth-child(1){margin-top:0}
#resize #menu li a{display:flex;justify-content:center;align-items:center;color:#000;height:100%;font-family:Quicksand}
#resize.active{visibility:visible;opacity:.99;margin:0;height:100%;overflow:hidden;position:fixed}
.noscroll{margin:0;height:100%;width:100%;overflow:visible}
.cell{margin:1rem}
#resize ul li{border-bottom:2px solid #fff}
#resize ul li:hover:not(select){border-bottom:2px solid #000}
#toggle{position:fixed;right:20px;top:10px;z-index:999;width:20px;height:20px;cursor:pointer;float:right;transition:all .3s ease-out;visibility:hidden;opacity:0}
#toggle .span{height:3px;background:#000;transition:all .3s ease-out;backface-visibility:hidden;margin:5px auto}
#toggle.on #one{transform:rotate(45deg) translateX(2px) translateY(4px)}
#toggle.on #two{opacity:0}
#toggle.on #three{transform:rotate(-45deg) translateX(8px) translateY(-10px)}
.active{background:#fff}
.container{margin:0 auto;margin-left:10%;margin-right:10%}
.responsive-image{max-width:100%;width:100%;height:auto;border-top-left-radius:20px;border-top-right-radius:20px}
.cell img{display:block}
.cell{max-width:200px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top-left-radius:20px;border-top-right-radius:20px;background:#fff}
.cell:hover{border:1.5px solid #3f51b5}
.cell img{max-width:100px;max-height:100px;width:100%;border-radius:50%;height:auto}
.desc{padding:5px;text-align:center;font-size:16px}
.cell{margin:5px}
.mySlides img{margin-top:-50px}
.mySlides{display:none;border-bottom:5px solid #f5f5f5;width:100%}
.mySlides img{max-height:600px;height:70vh;width:100%}
.slideshow-container{width:100%;position:relative;margin:auto}
ul{text-align:left;color:#373d3f}
.prev,.next{cursor:pointer;position:absolute;top:50%;width:auto;margin-top:-22px;padding:16px;color:#3f51b5;font-weight:bold;font-size:18px;transition:.6s ease;border-radius:0 3px 3px 0}
.next{right:0;border-radius:3px 0 0 3px}
.prev:hover,.next:hover{background-color:rgba(0,0,0,0.8)}
.text{font-size:50px;position:relative;bottom:125px;margin-left:10%;margin-right:10%;margin-bottom:10%;margin-top:1%;color:#fff;letter-spacing:.05em;text-shadow:4px 4px 0 #d5d5d5,7px 7px 0 rgba(0,0,0,0.2)}
.dot{height:15px;width:15px;margin:5px;background-color:black;border-radius:50%;display:inline-block;transition:.6s ease;bottom:70px;position:relative}
.slideactive,.dot:hover{background-color:#fff}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:2s;animation-name:fade;animation-duration:2s}
@-webkit-keyframes fade{from{opacity:.4}
to{opacity:1}
}@keyframes fade{from{opacity:.4}
to{opacity:1}
}.gallerytitle{text-align:left;font-size:30px;margin-left:10%;margin-right:10%;margin-top:80px}
.aboutcontext2{font-size:18px}
.predictionshead{text-align:left;font-size:40px;margin-left:15%;margin-right:15%;margin-top:10%}
.profilecontent{margin-left:30%;margin-right:30%}
.imageprofilecontainer img{width:80px;height:80px;border-radius:50%}
.imageprofilecontainer{background:#f2f2f2;border-top-left-radius:5px;border-top-right-radius:5px;position:relative;margin:auto;margin-top:10%;margin-left:20%;margin-right:20%}
.aboutcontext2{margin-top:20px;max-width:1600px;margin-bottom:20px;max-width:1600px;margin-left:80px;margin-right:80px}
.content{max-width:1600px;margin-top:20px;margin-bottom:20px;max-width:1600px;margin-left: auto;margin-right: auto;}
.content img{width:200px;height:200px;border-radius:50%}
footer{background:#000;padding:20px;color:#fff;position:bottom;margin-top:200px}
footer a{display:flex;flex-wrap:wrap;justify-content:space-between;padding-top:5px;padding-bottom:5px;transition:.3s .3s ease-in-out;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.6s ease-in-out}
footer a:hover{color:#3f51b5}
.imageprofilecontainer2 img{max-height:800px;max-width:100%}
.grid{display:flex;flex-wrap:wrap;flex-direction:row}
@media(max-width:900px){#toggle{visibility:visible;opacity:1;margin-top:4px;margin-right:4px;margin-left:4px;margin-bottom:4px}
.container{margin:0 auto;margin-left:5%;margin-right:5%}
h1{font-size:28px}
h2{font-size:24px}
nav .logo{margin-left:0;margin-top:0;margin-bottom:0;position:static;max-width:80%}
#menu a{font-family:'Quicksand',sans-serif;font-size:15px}
nav #menu{display:none}
nav{width:100%;background:#fff;border-bottom:1px solid #f2f2f2;height:60px;position:static;z-index:1}
nav .logo{position:static;float:left;margin:0;margin-top:0;margin-bottom:0;max-width:100%}
nav.gray .logo img{max-width:55%;height:auto;margin:3% 10%;display:inline-block}
.content{margin-left:10%;margin-right:10%;font-size:15px}
.imageprofilecontainer{position:relative;margin:auto;margin-top:10%;margin-left:10%;margin-right:10%}
.cell{width:49.99999%;margin:6px 0}
.aboutcontext2{font-size:15px;margin-left:20px;margin-right:20px}
.content{font-size:15px;margin-left:20px;margin-right:20px}
.gallerytitle{font-size:15px}
nav.gray #menu{float:right;position:relative;max-width:100%;max-height:100%;transition:all .3s ease-out}
nav.gray #menu li{transition:all .3s ease-out;transition:all .3s ease-out}
nav.gray #menu li a{color:#7280ce;font-weight:500}
nav.gray #menu li a.active-page{border:2px solid #7280ce;transition:all .3s ease-out}
.text{font-size:25px;margin-top:100px}
.gallerytitle{margin-left:5%;margin-right:5%;font-size:15px}
}@media screen and (max-width:500px){.gallerytitle{font-size:15px}
.aboutcontext2{font-size:18px}
.cell{width:calc(33.3333% - 2rem)}
@media(min-width:900px){#resize{visibility:hidden!important}